#aui-flag-container {
    transition: opacity .8s;
}

#user-request {
    display: flex;
    padding-bottom: 40px;
}

#user-request .field-group {
    width: 25%;
    margin-right: 30px;
}

#user-request .buttons-container {
    position: absolute;
    margin-top: 75px;
}

.fieldset {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 10px 0 40px 0;
    padding: 20px;
}

.fieldset .request {
    padding-top: 5px;
    padding-bottom: 5px;
}

.new-request, .submitted-requests, .approved-requests, .declined-requests {
    width: 50%;
}

.remember {
    float: right;
    width: 48%;
}

.right {
    text-align: right;
}

.small {
    font-size: 10px;
}

.delete-request img{
    content: url(images/delete.png);
}

#requests-pm-content, #beltech-content {
    display: none;
}

#requests-pm-content .text {
    border: 1px solid #c1c7d0;
    border-radius: 3.01px;
    box-sizing: border-box;
    font-size: inherit;
    margin: 0;
    max-width: 250px;
    vertical-align: baseline;
    width: 100%;
}

#requests-pm-content > div.fieldset > form > div, #beltech-content > div > form > div {
    padding-left: 100px;
}

#intersection-calendar-filters {
    margin-top: 20px;
}

.intersection-calendar-table {
    margin: 20px 0;
}

.intersection-calendar-table .cell {
    border: 1px solid black;
    width:18px;
}

.intersection-calendar-table .cell.weekend {
    border-color: #9e9e9e;
    border-style: dotted;
}

.intersection-calendar-table .cell.today {
    border-style: dashed;
}

.intersection-calendar-table .level-0 { background-color: #ffffff;}
.intersection-calendar-table .level-0.past { background-color: #eeeeee; }

.intersection-calendar-table .level-1 { background-color: #ffccbc; }
.intersection-calendar-table .level-1.past { background-color: #e0e0e0; }

.intersection-calendar-table .level-2 { background-color: #ffab91; }
.intersection-calendar-table .level-2.past { background-color: #bdbdbd; }

.intersection-calendar-table .level-3 { background-color: #ff8a65; }
.intersection-calendar-table .level-3.past { background-color: #9e9e9e; }

.intersection-calendar-table .level-4 { background-color: #ff7043; }
.intersection-calendar-table .level-4.past { background-color: #878787; }

.intersection-calendar-table .level-5 { background-color: #ff5722; }
.intersection-calendar-table .level-5.past { background-color: #757575; }

.intersection-calendar-table .level-6 { background-color: #f4511e; }
.intersection-calendar-table .level-6.past { background-color: #616161; }

.intersection-calendar-table .level-7 { background-color: #e64a19; }
.intersection-calendar-table .level-7.past { background-color: #515151; }

.intersection-calendar-table .level-8 { background-color: #d84315; }
.intersection-calendar-table .level-8.past { background-color: #424242; }

.intersection-calendar-table .level-9 { background-color: #bf360c; }
.intersection-calendar-table .level-9.past { background-color: #313131; }

tr span.expander {
    cursor: pointer;
    margin-left: 0;
    padding-left: 18px;
    border: 1px solid black;
}

.processed-vacations tr.group {
    cursor: pointer;
}

.processed-vacations tr.approved, table.aui.aui-table-list>tbody>tr.approved:hover {
    background-color: #ecffea;
}

.processed-vacations tr.declined, table.aui.aui-table-list>tbody>tr.declined:hover {
    background-color: #ffe3e3;
}

tr span.group-header-content {
    background-image: url(images/bullet_toggle_plus.png);
    margin-left: 0;
    padding-left: 18px;
}

.processed-vacations tr.results {
    display: none;
}

tr.open span.group-header-content {
    background-image: url(images/bullet_toggle_minus.png);
}

.overlay-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    z-index: 10000;
    display: none;
}

.overlay-mask .loading {
    background-image: url(images/loading.gif);
    width: 50px;
    height: 50px;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
